<div class = reservation-new>
<h2>予約内容確認</h2>
<h3>価格/1日</h3>
  <table>
    <tr>
      <th>開始日</th>
      <td><%= @reservation.start_date %></td>
    </tr>
    <tr>
      <th>終了日</th>
      <td><%= @reservation.end_date %></td>
    </tr>
    <tr>
      <th>使用日数</th>
      <td><%= "#" %></td>
    </tr>
    <tr>
      <th>人数</th>
      <td><%= @reservation.num_people %></td>
    </tr>
    <tr>
      <th>合計金額</th>
      <td><%= "#" %></td>
    </tr>
  </table>
  <p>上記内容でよろしければ「予約を確定」を押してください</p>
  <div>
    <ul>
      <li><%= link_to "予約を確定", "#"%></li>
      <li><%= link_to "ルーム詳細に戻る", "#" %></li>
    </ul>
  </div>
</div>