<!DOCTYPE html>
<html>
  <head>
    <title>PoteShare</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header>
    <div class = header-logo>
      <img src="https://presite-potepancamp-rails-02.herokuapp.com/assets/logo.png" alt="header-logo">
    </div>
    <P>エリア</P><P>キーワード</P>
    <div class = login_&_siginup>
    <P>ログイン</P>
    <P>登録する</P>
    </div>
  </header>
    <%= yield %>
    <footer>
    <P>© 2020 POTEPAN.INC.</P>
    </footer>
  </body>
</html>
