<!DOCTYPE html>
<html>
  <head>
    <title>PoteShare</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <header>
      <div class = header-left>
        <img class = logo src="https://presite-potepancamp-rails-02.herokuapp.com/assets/logo.png" alt="サイトロゴ">
        <p>エリア</p>
        <p>探す</p>
      </div>
      <div class = header-right>
        <p>ログイン</p>
        <p>登録する</p>
      </div>
    </header>
    <div class = container>
      <%= yield %>
    </div>
    <footer>
      <p>© 2020 POTEPAN.INC.</p>
    </footer>
  </body>
</html>
